In [2]:
import pandas as pd 

tmp = pd.read_csv('SVM_result.csv')
tmp.sort_values('acc',ascending=False)

    learning rate  lambda parameters  n_iters     acc
64         0.0001               0.01     2000  0.7160
62         0.0001               0.01      500  0.7160
63         0.0001               0.01     1000  0.7120
61         0.0001               0.01      200  0.7104
66         0.0001               0.03      200  0.7096
..            ...                ...      ...     ...
7          0.0050               0.03      500  0.6776
6          0.0050               0.03      200  0.6776
21         0.0010               0.01      200  0.6680
44         0.0005               0.01     2000  0.5856
2          0.0050               0.01      500  0.4784

[80 rows x 4 columns]

In [5]:
tmp = pd.read_csv('SVM_result_sklearn.csv')
tmp.sort_values('acc',ascending=False)

    kernel     acc
0   linear  0.2936
1     poly  0.2936
2      rbf  0.2936
3  sigmoid  0.2936

In [8]:
tmp = pd.read_csv('SVR_result_sklearn.csv')
tmp.sort_values('r2',ascending=False)

    kernel           mse        r2
0   linear  1.687377e+08 -0.017886
1     poly  1.801794e+08 -0.086906
3  sigmoid  1.818779e+08 -0.097153
2      rbf  1.826454e+08 -0.101782

In [3]:
tmp = pd.read_csv('SVR_result_nonlinear.csv')
tmp.sort_values('r2',ascending=False)

    kernel        mse         r2
2      rbf   0.616008   0.473299
1     poly   1.229915  -0.051606
0   linear   1.247571  -0.066702
3  sigmoid  22.237099 -18.013235